* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #454650;
    /* Definir o background do body */
}

h1{
    text-align: center;
    color: #ffffff;
    font-size: 1.5em;
}

#containerRastreio {
    min-height: 100px;
    height: 100px;
    width: 250px;
    margin: 10px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: #ffffff;
    /* Manter o background específico do #containerRastreio */
    border-radius: 15px;
}

#codigoRastreio {
    display: block;
    margin: 5px;
}

input[type="text"] {
    padding: 3px;
    border: none;
    border-bottom: 1px solid black;
}

input[type=text]:focus {
    border-bottom: 1px solid green;
    outline: none;
    background-color: white;
}

/*auto-complete do navegador*/
input[type="text"]:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
    -webkit-text-fill-color: black; /* Cor do texto */
}

button[type="button"] {
    height: 30px;
    padding: 0px 10px 0px 10px;
    border-radius: 15px;

    background-color: blue;
    color: white;
    border: none;
}

.tituloRastreio{
    margin: 30px 0px 20px 0px;
    text-align: center;
    color: rgb(204, 149, 255);
}

.atualizacaoRastreio {
    margin: 0px 10px 15px 10px;
    padding: 10px;
    border-left: 3px solid rgb(158, 132, 255);
}

.statusRastreio{
    margin-bottom: 5px;
    font-weight: 600;
    color: rgb(216, 187, 255);
}

.origemDestino{
    margin-bottom: 5px;
    color: white;
}

.dataAtualizacao{
    color: white;
}

.origemDestino > .minhasImportacoes > a {
    color: rgb(112, 162, 255);
}